## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
clean_hotel_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
clean_hotel_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Mazatlan,MX,79.00,overcast clouds,23.2167,-106.4167,Hotel Club Playamar
1,6,Itaueira,BR,75.79,overcast clouds,-7.6033,-43.0256,Pousada e Restaurante Cheiro e Sabor
2,10,Faya,SA,77.00,clear sky,18.3851,42.4509,مقبرة ال مجمل
3,11,Acapulco,MX,80.76,broken clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
4,12,Carnarvon,AU,84.20,clear sky,-24.8667,113.6333,Hospitality Carnarvon

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [109]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = clean_hotel_df.loc[clean_hotel_df["City"] == "Birnin Kebbi"]
vacation_end = clean_hotel_df.loc[clean_hotel_df["City"] == "Birnin Kebbi"]
vacation_stop1 = clean_hotel_df.loc[clean_hotel_df["City"] == "Bafilo"]
vacation_stop2 = clean_hotel_df.loc[clean_hotel_df["City"] == "Cotonou"] 
vacation_stop3 = clean_hotel_df.loc[clean_hotel_df["City"] == "Abonnema"]

In [110]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
34,115,Birnin Kebbi,NG,88.52,overcast clouds,12.4539,4.1975,Saffar Guest Inn Ltd

In [111]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[['Lat', 'Lng']].to_numpy().flatten()
end = vacation_end[["Lat", "Lng"]].to_numpy().flatten()
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy().flatten()
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy().flatten()
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy().flatten()

In [112]:
start

array([12.4539,  4.1975])

In [113]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets

fig = gmaps.figure()
itinerary_map = gmaps.directions_layer(start, 
                                       end, 
                                       waypoints=[stop1, stop2, stop3],
                                       travel_mode='DRIVING')
fig.add_layer(itinerary_map)
fig

Figure(layout=FigureLayout(height='420px'))

In [74]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,115,Birnin Kebbi,NG,88.52,overcast clouds,12.4539,4.1975,Saffar Guest Inn Ltd
1,115,Birnin Kebbi,NG,88.52,overcast clouds,12.4539,4.1975,Saffar Guest Inn Ltd
2,448,Bafilo,TG,75.20,clear sky,9.3500,1.2667,Hôtel Assoli
3,640,Cotonou,BJ,80.60,scattered clouds,6.3654,2.4183,Novotel Cotonou Orisha
4,618,Abonnema,NG,80.94,overcast clouds,4.7084,6.7931,Corper's Lodge Obonoma

In [75]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [114]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(9.4, 4.2), zoom_level=3.2)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))